{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>

            <th>Name</th>
            <th>Creator</th>
            <th>Created at</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.namespace.name }}</td>
                <td>{{ project.created_at | date('d/m/Y') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
