<form method="post" action="{{ path('users_to_team_delete', {'id': users_to_team.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ users_to_team.id) }}">
    <button class="btn">Delete</button>
</form>
