<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!-- Halfmoon CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        img {
            height: 3rem;
            width: auto;
        }

        nav {
            background: #653484;
        }

        th {
            background: #653484;
            color: #ffffff;
        }

        tr:nth-child(odd) {
            background: rgba(101, 52, 132, 0.58);
            color: #ffffff;
        }
    </style>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>

    <nav class="navbar">
        <a href="https://127.0.0.1:8000/">
            <img class="img-rounded" src="/assets/img/gitLab.png" alt="logo gitlab">
        </a>
    </nav>

{% block body %}


{% endblock %}
{% block javascripts %}{% endblock %}

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
