<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!-- Halfmoon CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        img{
            height: 3rem; width: auto;
        }
    </style>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

{% block body %}
</head>
<body>
<!-- Page wrapper with .with-navbar class -->
<div class="page-wrapper with-navbar">
    <!-- Navbar (immediate child of the page wrapper) -->
    <nav class="navbar">
        <a href="https://127.0.0.1:8000/">
            <img class="img-rounded" src="/assets/img/gitLab.png" alt="logo gitlab">
        </a>
    </nav>
</div>

{% endblock %}
{% block javascripts %}{% endblock %}

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
