<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <!-- Halfmoon CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        img {
            height: 3rem;
            width: auto;
        }

        nav {
            background-color: #8959A8!important;
        }

        th {
            background-color: #8959A8!important;
            color: #ffffff;
        }

        tr:nth-child(odd) {
            background: rgba(101, 52, 132, 0.58);
            color: #ffffff;
        }
        .navbar.navbar-expand-lg.navbar-light.bg-light {
            background-color: #8959A8!important;
            color: white;
        }
        a.nav-link{
            text-overline-color: white;
        }
    </style>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="{{ path('dashboard') }}">
            <img class="img-rounded" src="/assets/img/gitLab.png" alt="logo gitlab">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('projects_index') }}">Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('team_index') }}">Equipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('users_index') }}">Utilisateurs</a>
                </li>
            </ul>
        </div>
    </nav>

{% block body %}


{% endblock %}
{% block javascripts %}{% endblock %}

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
